@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300&display=swap');
@import '../css/animations.css';
/* font-family: 'Courgette', cursive;  
font-family: 'Open Sans', sans-serif;*/

/* Główne elementy strony */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.tavernEditor.tinyReact p {
  margin: 0;
}

body, #root {
  min-width: 100%;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;

  font-family: 'Courgette', cursive;
}
.App * {
  margin: 0;
}

.gamePanel {
  padding: 0 55px 0 10px;
  min-width: 100vw;
  min-height: 100vh;
}
.gamePanel.left {
  padding: 0 10px 0 55px;
}

/* VERIFYPAGE */

.verifyBtn{
  background-color: #fff;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}
.verifyBtn:hover {
  background-color: #666;
  color: beige;
}

.verifyPage {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  background-color: #fff;
  z-index: 5;
  text-align: center;
}
.remindEmail {
  width: 20%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.remindEmail input {
  padding: 5px;
  text-align: center;
}

/* RESETPASSWORDPAGE */

.resetForm {
  margin: 0 auto 50px;
  width: 20%;
}
.resetForm *{
  margin-bottom: 5px;
}

/* LOGINPANEL */

p.loadPage {
  text-align: center;
  transition: 0.3s;
  transition-delay: 0.2s;
}

.loadPage.gameName {
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
}

.loadPage.gameName.formVisible {
  padding-top: 50px;
  transform: scale(0.75);

}
.loadPage.gameDesc.hidden {
  opacity: 0;
}

p.formInfo {
  text-align: left;
  font-size: 15px;
  padding: 5px 0;
}
.formInfo.header {
  font-weight: bold;
  font-size: 16px;
}

.logPanel {
  position: absolute;
  bottom: 10vh;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100vw;
  height: 70vh;
  /* background-color: #ccc; */

}

.logPanel .login, .logPanel .reg {
  flex-basis: 50%;
  /* overflow: hidden; */
}

.login {
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid black;
  height: 5vh;
}
.reg {
  text-align: left;
  padding-left: 20px;
  height: 5vh;
}

.logSent, .regSent {
  font-family: 'Courgette', cursive;
  font-size: 16px;
  cursor: pointer;
}
.logSent:hover, .regSent:hover {
text-decoration: underline;

}

.loginForm {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  transition: 0.2s;
  transition-delay: 0.2s ;
}
.registerForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  transition: 0.2s;
  transition-delay: 0.2s ;
}

.loginForm.hidden, .registerForm.hidden {
 transform: scale(0);
 transition: 0.2s;
 transition-delay: 0.2s ;
}

.regInput, .logInput {
  width: 100%;
  font-size: 14px;
  padding: 5px 0 5px 5px;
  border: 1px solid black;
}
.regInput:focus, .logInput:focus {
  outline-color: black;
}

.registerSubmit, .loginSubmit {
  border: none;
  background-color: #fff;
  flex-basis: 100%;
  font-size: 16px;
  font-family: 'Courgette', cursive;
  padding: 30px 0 5px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}
.registerSubmit:focus, .loginSubmit:focus {
 outline: none;
}
.loginSubmit {
  padding-top: 60px;
}


section.logOutPage{
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  /* transform: translateY(-10vh); */
}

.logOutinfo {
  margin: 50px 0;
}

/* NAWIGACJE */

.navMob,.navburger, .return {
  position: fixed;
  right: 1vh;

  border: 2px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  font-size: 20px;
  transition: 0.3s;
}

.navMob.active {
  color: white;
  background-color: #111;
}
.navMob:focus {
  outline: none;
}.navMob:focus-visible {
  outline: none;
}.navMob:focus-within {
  outline: none;
}.navMob:focus {
  outline: none;
}

.navMob:nth-of-type(1) {
  bottom: 10vh;
}
.navMob:nth-of-type(2) {
  bottom: 17vh;
}
.navMob:nth-of-type(3) {
  bottom: 24vh;
}
.navMob:nth-of-type(4) {
  bottom: 31vh;
}
.navMob:nth-of-type(5) {
  bottom: 38vh;
}
.navMob:nth-of-type(6) {
  bottom: 45vh;
}

.navMob.newMessage {
  border-color: red;
}

.mobile.left .navMob {
  left: 1vh;
}

nav.desktop {
  display: none;
}

.navMob:focus, .navDesk:focus {
  outline: none;
}
.navMob.active:focus {
  outline: none;
}

.mainPage {
  text-align: left;
}

.test {
  padding: 10px 0 0;
  font-size: 18px;
}

/* RICHEDITOR */

.notranslate.public-DraftEditor-content{
  padding: 5px;
  min-height: 30vh;
  font-family: 'Open Sans', sans-serif;
}

.richEditorWrap{
  margin-bottom: 50px;
}

.nextTurnLabel{
  display: block;
  padding-bottom: 10px;
}
.nextTurnSpan {
  display: block;
  padding-top: 10px;
}
.nextTurnSpan.ok {
  color: green;
}
.nextTurnSpan.notOk {
  color:red
}

.richEditor{
  margin: 10px 0 20px;
  border: 1px solid black;
  width: 100%;
  min-height: 30vh;
}

.styleButtons {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

.fontButtons {
  flex-basis: 50%;
  padding: 10px;
  background-color: #fff;
  border: none;
}
.fontButtons:nth-of-type(3), .fontButtons:nth-of-type(4) {
  border-top: 1px solid grey;
}
.fontButtons:nth-of-type(1), .fontButtons:nth-of-type(3) {
  border-right: 1px solid grey;
}

.styleButtons .answerSubmit {
  background-color: grey;
  color: white;
  flex-basis: 100%;
  padding: 10px;
  font-size: 18px;
}


/* SESJE */

/* STORYLINK */

.storyLink {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
.linkAuthor {
  flex-basis: 50%;
}
.linkTitle {
  color: black;
  font-size: 18px;
}
.linkTitle.new {
  color: red;
}
.linkDate {
  display: none;
}
a.linkTitle {
  text-decoration: underline;
} 

.subsection {
  margin-bottom: 15px;
}

.showStories {
  font-weight: normal;
  font-size: 14px;
  margin-left: 30px;
  cursor: pointer;
}
.showStories.new {
  color: red;
}

/* PRIVLINK */
.privateSessions{
  text-align: left;
}
.privateSessions a {
  color: grey;
  font-size: 20px;
  text-decoration: none;
  transition: 0.3s;
}
.privateSessions a:hover {
  color: black;
  text-decoration: underline;
}
.privateSessions.new a {
  color: brown;
}

/* SINGLESTORY */

.storyInfo {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 15px 15px;
}
.storyTitle {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}
.storyAuthor {
  flex-basis: 100%;
  font-size: 18px;
  padding-top: 5px;
}
.storyDate {
  flex-basis: 100%;
  padding-top: 5px;
}
.openingMsg {
  flex-basis: 100%;
  padding: 10px 0;
}

.showIntro {
  font-size: 14px;
  text-decoration: underline;
  padding: 20px 0 0;
  flex-basis: 100%;
}


.answer {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid black;
  margin: 10px 0;
}

.answerForm {
 width: 100%;
}
.answerForm.hidden {
  display: none;
}

.nextTurnDate {
  font-size: 20px;
}

.nextTurnDateSpan {
  display: block;
  padding-bottom: 5px;
}

.nextTurnWrap {
  width: 40vw;
}
.rdt {
  display: inline-block;
  padding-left: 20px;
}

/* input.form-control {
  width: 40vw;
} */

.answerField {
  flex-basis: 80%;
  height: 30vh;
  padding: 5px;
}
.answerSubmitWrap{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.answerSubmit, .answerViewer {
  flex-basis: 50%;
  background-color: #fff;
  border: 1px solid gray;
  outline: none;
}

.answerPreviewSpan{
  padding: 10px 0;
  flex-basis: 100%;
}

.answerPreview {
  padding: 10px 0;
}

.answerField:focus{
  outline: black 2px solid;
}

.singleStory .notepad {
  display: none;
}

.creator {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #fff;
  color: grey;
  border: 2px solid grey;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}
.creator:hover {
  color: black;
  border-color: black;
}
.creator:focus-within {
  outline: none;
}

.storyCreator {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.createStory {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.tinyEditor {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}
.createStory .tinyEditor .addProfile {
  margin: 0 auto;
}
.titleForStory {
  margin-bottom: 10px;
}
.titleForStoryInput{
  flex-basis: 100%;
  padding: 5px;
  margin: 5px 0;
}
.titleForStoryInput:focus-within{
  outline: black;
}
.placeLabel {
  margin-top: 15px;
}
.placeSelect{
  margin-top: 10px;
  margin-left: 15px;
  padding: 5px;
}
.newStorySubmit{
  flex-basis: 100%;
  background-color: #fff;
  color: grey;
  border: 2px solid grey;
  padding: 5px;
  margin-top: 10px;
  font-size: 18px;
}

.closeStory {
  display: block;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 15px auto;
  font-size: 18px;
  cursor: pointer;
}
.closeStory.prive {
  margin-top: 30px;
}

/* CHAPTER */

.chapter {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 20px 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}
.chapterAuthor {
  text-align: right;
  flex-basis: 100%;
  margin-top: 5px;
  font-size: 20px;
}
.replyDate {
  flex-basis: 100%;
  text-align: right;
  padding-top: 5px;
}

.chapterMsg{
  flex-basis: 100%;
  margin-top: 25px;
  padding: 0 10px;
}

.deleteChapter {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 16px;
  border: 2px solid grey;
  cursor: pointer;
}
.deleteChapter.tavern {
  left: 90%;
}
.deleteChapter:hover {
  background-color: #aaa;
  color: white;
}

/* PRIVESTORIES */

.priveStoryCreator{
  display: flex;
  flex-wrap: wrap;
}
.priveStoryCreator .tinyEditor {
  width: 100%;
}

.players {
  flex-basis: 100%;
}
.priveRecipients {
  flex-basis: 100%;
  padding: 5px 10px;
  margin: 10px 0;
}

.addPLayer{
  flex-basis: 100%;
  background-color: #fff;
  border: 1px solid gray;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
p.inside span {
  font-size: 14px;
}

/* PRIVESTORY */

.addDeletePlayers {
  margin-left: 5px;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid grey;
  cursor: pointer;
}
.deletePlayerSpan{
  margin-left: 40px;
  text-decoration: underline;
  cursor: pointer;
}

.storyArchive {
  margin: 20px 0;
}

 /* NOTEPAD */

 section.notepad {
   padding-top: 10px;
   margin-top: 30px;
   border-top: grey 2px double;
 }



/* MAILPAGE */

.newMessageCreatorButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: transparent;
  padding: 5px 10px;
  margin: 20px 0;
  outline: none;
}

.newMessageCreatorForm {
  display: flex;
  flex-wrap: wrap;
}
.newMessageCreatorForm .tinyEditor {
  flex-basis: 100%;
}
.newMessageAddressee, .newMessageTitle {
  flex-basis: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 5px;
  outline: none;
  margin-top: 10px;
}
.newMessageAddressee:focus-within, .newMessageTitle:focus-within {
  outline: 1px solid black;
}
.newMessageTextarea {
  flex-basis: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  outline: none;
  padding: 5px 5px;
  overflow: visible;
  min-height: 20vh;
  margin-top: 10px;
}
.newMessageTextarea:focus-within {
  outline: 1px solid black;
}
.newMessageSubmit, .mailViewer{
  flex-basis: 50%;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  font-size: 16px;
  padding: 5px 5px;
  border: 2px solid grey;
  margin-top: 10px;
  text-decoration: underline;
  margin-bottom: 25px;
}

.oneMail {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.mailDate, .mailAuthor {
  padding-top: 5px;
}


/* SINGLEMAIL Page */
/* styles taken from single Story */

.openingMail{
  padding: 10px 0 0 15px
}
.mailReplyButton {
  width: calc(100% - 15px);
  background-color: #fff;
  margin: 0 0 20px 15px;
  padding: 5px;
}

.mailForm{
  padding-left: 15px;
}


.mailPreview{
  padding-left: 15px;
}

.mailRecord{
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding-left: 15px;
}

/* TAVERNS */

.tavernsRooms {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toggleActiveDesc {
  text-align: center;
}

.tavernRoom {
  flex-basis: 40%;

  padding: 0 10px;
}
.tavernName{
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  margin: 20px 0 10px;
  font-size: 18px;
  transition: 0.3s;
  color: grey;
  border-bottom: 2px solid white;
}
.tavernName.active {
  /* transform: translateX(30px); */
  color: black;
  border-bottom: 2px solid black;
}

.activeRoom { 
  border-top: 1px solid grey;
  margin-top: 30px;
  padding: 10px 10px;
}

.activeRoomName{
  text-decoration: underline;
  text-align: center;
  padding: 20px 0 10px;
}

.sendReply {
  display: block;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  border: 1px solid grey;
  padding: 10px 20px;
  font-size: 18px;
  margin: 20px auto 10px;
  outline: non;
}

.tavernForm{
  display: block;
}

.tavernTA {
  flex-basis: 100%;
  height: 20vh;
  margin-top: 20px;
  outline: black;
  padding: 5px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.tavernSubmit {
  flex-basis: 100%;
  background-color: #fff;
  padding: 5px;
  font-size: 18px;
  border: 1px solid black;
  border-bottom: 2px solid black;
}

.tavernRecords{
  padding: 0 15px;
}
.tavernRecord {
  margin-bottom: 20px;
  border-bottom: 1px solid grey ;
  position: relative;
}
.tavernAuthor {
  font-size: 17px;
}
.replyTime {
  display: block;
  font-size: 12px;
  padding-bottom: 20px;
}
.tavernMess {
  padding-bottom: 10px;
}

/* KP */

.creatorLabel {
  display: block;
  font-size: 18px;
  padding: 10px 0;
}

.creatorInput {
  padding: 5px 10px;
  width: 100%;
}
.creatorInput:focus {
  outline: black 1px solid;
}
.confirmStages {
  width: 50%;
  padding: 5px 10px;
  margin-top: 15px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}
.confirmStages:hover {
  text-decoration: underline;
}



.submitCharName{
  border: none;
  background-color: #fff;
  flex-basis: 100%;
  font-size: 16px;
  font-family: 'Courgette', cursive;
  padding: 30px 0 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.submitCharName:focus {
  outline: none;
}



  .confirmCreator {
    padding: 5px 10px;
    font-size: 18px;
    margin: 10px auto 20px;
  }

  .infoCreator p {
    margin: 10px 0;
  }

  .baseStats{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .resetCharacter{
    display: block;
    background-color: #fff;
    padding: 5px 10px;
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 18px;
  }

/* PROFIL */

.profileForm {
  display: flex;
  flex-wrap: wrap;
}

.profileArea {
  flex-basis: 100%;
  /* width: 50%; */
  height: 30vh;
  margin-top: 20px;
  padding: 5px;
}
.changeProfileSpan {
  padding-left: 10px;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
.profile {
  margin-top: 20px;
}

.profileViewer, .submitProfile {
  flex-basis: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  font-size: 16px;
  padding: 5px 5px;
  border: 1px solid grey;
  margin-top: 10px;
  text-decoration: underline;
  margin-bottom: 10px;
}


/* VIEWER */

.playersList {
  margin: 20px 0;
  text-align: center;
  border-bottom: 1px solid grey;
  border-top: 2px double grey;
}
.playersList .test {
  margin-bottom: 20px;
}

.playersViewer {
  flex-basis: 70%;
  padding-left: 15px;
}
.playersViewer .header {
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
  font-size: 18px;
}

.mainProfile {
  border-top: 1px solid grey;
  padding-top: 15px;
}
.charactersList ul{
  list-style: none;
}
.characterListElement {
  padding: 5px 0;
  cursor: pointer;
}
.characterListElement a {
  color: black;
  text-decoration: none;
}

.offlineBtn {
  background-color: #fff;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.offlineBtn:hover {
  border-color: black;
}
.offlineBtn:focus {
  outline:none;
}



/* CHARACTERPAGE */

/* CP nav */

.navigationCP{
  list-style: none;
  display: flex;
  width: 100%;
  padding-top: 20px;
  margin-bottom: 30px;
}
.navigationCP li {
  flex-basis: 25%;
  text-align: center;
}
.navigationCP li a {
  display: block;
  padding: 15px 0;
  text-decoration: none;
  color: #111;
  font-size: 18px;
  border: 1px solid black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom: 3px solid black;
  /* background-color: #eee; */
  transition: 0.2s;
}
.navigationCP li a.active {
  border-bottom: 3px solid white;
  background-color: #fff;
}

/* DIARY */

.diary{
  text-align: center;
  padding-top: 20px;
}

.diary h3 {
  margin: 50px 0;
}

.diaryEntry {
  border-bottom: 2px solid grey;
  padding-top: 20px;
  text-align: left;
}

.diaryEntry p:nth-of-type(2), .diaryEntry p:nth-of-type(3) {
 text-align: right;
 font-size: 18px;
}

.editWrap {
  padding: 30px 0 ;
}


/* SKILLS */

.skillsEl.a1:nth-of-type(-1) {
 padding-bottom: 20px;
}

.skills{
  display: flex;
  padding-bottom: 5px;
}

.skills * {
  flex-basis: 30%;
  padding: 5px 0;
}

.skillList{
  list-style: none;
  
}

.ownSkills {
  margin-bottom: 50px;
}
.ownSkills h3 {
  text-align: center;
}

.fabPointSpan {
  display: inline-block;
  padding-left: 30px;
  color: red;
}

/* STATS */

.stats {
  min-height: 30vh;
  margin-bottom: 50px ;
  text-align: center;
}

.stats h3 {
  padding-bottom: 20px;
}

.statsWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.statsWrap *{
  flex-basis: 40%;
}
.statCard{
  text-align: center;
}
.singleStat {
  display: flex;
  margin: 0 auto;
  width: 50%;
}
.singleStat input {
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  border: none
}
.arrows{
  display: flex;
  flex-direction: column;
}
.arrows .fas {
  cursor: pointer;
}

/* METRIC */

.metricsWrap {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.avatar {
  flex-basis: 100%;
  min-height: 50vh;
  text-align: center;
  padding-top: 25vh;
  border-bottom: 2px brown solid;
}
.metricsData {
  flex-basis: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px brown solid;
}
.metrics{
  margin: 5px 0;
}
h2.metrics {
  font-size: 20px;
  text-align: center;
}
h2.metrics:nth-of-type(2) {
  margin-bottom: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
}
.profileNav{
  width: 60%;
  display: flex;
  margin: 0 auto;
}
.profileNav * {
  flex-basis: 33%;
}
.profileNav a {
  padding: 10px 0;
  text-align: center;
  border: 2px solid black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: #111;
}
.profileNav a.active {
  border-bottom: none;
  color: #333;
}


.addProfile {
  
  margin: 15px auto;
  text-align: center;
}

.addOverlapWrap{
  text-align: center;
}

.overlapsLinks {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-around;


}
.overlapsLinks a {
  text-decoration: none;
  color: black;
  padding-right: 20px;
  transition: 0.2s;
}
.overlapsLinks a.active {
  color: brown;
}

.profileOverlap {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 5px;
}

.editOverlap {
  display: block;
  background-color: #fff;
  padding: 5px 10px;
  margin: 15px auto;
  border: 1px solid black;
}

.editOverlap:hover{
  text-decoration: underline;
  
}
.overlapText{
  margin: 15px 0;
  padding-right: 20px;
}


/* OVERVIEW */

.characterOverview {

}
.characterOverview p {
  margin: 25px 0;
  text-align: center;
}
.setWrap {
  margin: 30px 0;
  display: flex;
  justify-content: space-around;
}
.skillSet, .statsSet {
  margin: 30px 0;
  flex-basis: 40%;
  text-align: center;
}
.skillSet h5, .statsSet h5 {
  margin: 50px 0;
}


/* SETTINGS PAGE */

.desktopSetting {
  display: none;
}
.settingsLabel {
  display: inline-block;
  padding: 10px 10px 0 0;
}

.autologWrap {
  padding: 10px 0;
}

.autologLabel {
  display: inline-block;
  text-align: left;
}
.autologPass {
  padding: 5px;
}
.confirmAutolog {
  font-size: 16px;
  padding: 5px;
  background-color: #fff;
  border: none;
  margin-left: 10px;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.confirmAutolog:focus-within {
  outline: none;
}
.logOutUtility {
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  transition: 0.3s;
}
.logOutUtility:hover {
  text-decoration: underline;
}

.setRank {
  margin: 20px 0;
}
.rankLabel {
  padding-right: 10px;
}
.rankSubmit {
  font-size: 16px;
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 15px 0 5px;
  border-bottom: 1px solid grey;
}
.rankSubmit:focus-within{
  outline: none;
}

.dropZone {
  border: 1px solid black;
  width: 40%;
  padding: 10px 20px;
  margin: 10px auto;
  cursor: pointer;
}

/* QUERIES */

@media (min-width: 1280px) {
  .gamePanel {
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
  }
  .gamePanel.left {
    padding: 0;
  }

  .test {
    padding: 10px 0 0;
    font-size: 18px;
  }
  .test.next{
    padding: 10px 0 0 50px;
  }


  /* LOGINPANEL */

  .loadPage.gameName {
    font-size: 36px;
  }

  .loadPage.gameDesc {
    font-size: 22px;
  }

  p.formInfo {
    text-align: left;
    font-size: 15px;
    padding-bottom: 5px;
  }

  .login, .reg {
    height: 3vh;
  }

  .loginForm {
    width: 30vw;
    top: 40%;
    left: 15vw;
    /* transform: translateX(-100%); */
  }
  .registerForm {
    width: 30vw;
    top: 20%;
    left: 55vw;
  }

  section.logOut{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateY(-10vh);
  }

  /* NAWIGACJA */


  nav.mobile {
    display: none;
  }

  nav.desktop {
    display: flex;
    position: fixed;
    top: 0;
    left: 20vw;
    width: 80%;
    height: 100px;
    background-color: #fff;
    z-index: 3;
  }
 
  .navDesk {
    flex-basis: 10%;
    margin: 20px 50px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid white;
    transition: 0.2s;
  }
  .navDesk.active {
    transform: translateY(10px);
    border-bottom: 2px solid black;
  }
  .navDesk.newMessage {
    border-color: red;
  }
  .navDesk.tavern {
    position: relative;
  }
  .navDesk.sessions {
    position: relative;
  }

  .subLink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 0.2s;
    opacity: 0;
    font-size: 16px;
    color: black
  }

  .navDesk.tavern:hover .subLink:nth-last-of-type(1) {
    transform: translateY(100%);
    opacity: 1;
    background-color: #fff;
  }
  .navDesk.tavern:hover .subLink:nth-last-of-type(2){
    transform: translateY(200%);
    opacity: 1;
    background-color: #fff;
  }
  .navDesk.tavern:hover .subLink:nth-last-of-type(3){
    transform: translateY(300%);
    opacity: 1;
    background-color: #fff;
  }
  .navDesk.tavern .subLink a {
    text-decoration: none;
    color: black;
  }
  .navDesk.tavern .subLink a:hover {
    text-decoration: underline;
  }

  .navDesk.sessions:hover .subLink{
    transform: translateY(100%);
    opacity: 1;
    background-color: #fff;
  }

  .navDesk.sessions .subLink a {
    text-decoration: none;
    color: black;
  }
  .navDesk.sessions .subLink.prive.new a {
    color: brown;
  }
  .navDesk.sessions .subLink a:hover {
    text-decoration: underline
  }
  

  section.mainPage {
    padding-top: 100px;
    padding-left: calc(20vw + 20px);
    padding-right: 20px;
    margin-right: 10vw;
    min-height: 100vh;
    text-align: justify;
    padding-bottom: 20vh;
  }

  /* RICHEDITOR */

  .richEditor{
    border: 1px solid black;
    width: 76vw;
    position: relative;
    min-height: 20vh;
  }
  
  .notranslate.public-DraftEditor-content{
    min-height: 20vh;
    width: 100%;
  }

  .styleButtons {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
  }

  .fontButtons:nth-of-type(3), .fontButtons:nth-of-type(4) {
    border-top: none
  }
  .fontButtons:nth-of-type(1), .fontButtons:nth-of-type(3) {
    border-right: none;
  }
  .fontButtons {
    background-color: #fff;
    cursor: pointer;
    border: none;
    flex-basis: 25%;
    border-left: 1px solid grey;
    transition: 0.3s;
  }
 .fontButtons:nth-of-type(1) {
  border-left: none
 }
 .styleButtons .answerSubmit {
   cursor: pointer;
   transition: 0.3s;
   background-color: #444;
 }
 .fontButtons:hover{
  background-color: #ccc;
}
.fontButtons:focus-within {
  outline: none;
}
 .styleButtons .answerSubmit:hover {
  background-color: #999;
 }

  /* PLAYERVIEWER */

  section.notepad, section.notepadDesktop {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 20vw;
    padding-left: 15px;
  }
  .note {
    font-size: 20px;
  }
  /* .playersList w media to Sidebar */
  .sideBar {
    font-family: 'Open Sans', sans-serif;
    /* min-height: 80vh; */
    position: fixed;
    top: 20vh;
    left: 0;
    width: 20vw;
    padding-left: 15px;
    border: none;
    text-align: left;
    background-color: white;
  }
  .playersList {
    top: 25vh;
  }
  .sideBar.inStory {
    display: flex;
    flex-wrap: wrap;
  }
  .sideBarOverlap {
    flex-basis: 50%;
    text-align: center;
    cursor: pointer;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
  }
  .sideBarOverlap:nth-of-type(1){
    border-right: 2px solid black;
  }
  .sideBarOverlap.active {
    border-bottom: 2px solid white;
  }

  .sideBarLabel {
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
  }
  .storySummary {
    margin: 0;
  }
  .storyPlayers {
    list-style: none;
  }
  .playerInStory {
    padding-left: 5px;
    padding-top: 5px;
  }

  .playersViewer {
    position: fixed;
    top: 100px;
    left: 20vw;
    background-color: #fff;
    width: 80vw;
    min-height: calc(100vh - 110px);
    padding: 20px;
    padding-right: 50px;
  }
  .playersViewer.hidden {
    display: none;
  }

  .closeViewer{
    cursor: pointer;
    text-align: left;
  }

  /* SESJE */

  .storyLink {
    font-size: 20px;
  }
  .linkAuthor {
  flex-basis: 30%;
  }
  .linkTitle {
    flex-basis: 30%;
  }
  .linkDate {
    display: block;
    flex-basis: 30%;
  }
  .nextTurnDateSpan{
    flex-basis: 100%;
  }
  .answerField {
    flex-basis: 90%;
    height: 25vh;
    padding: 10px;
    font-size: 18px;
  }
 
  .answerSubmitWrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 10%;
  }
  .answerSubmit, .answerViewer {
    flex-basis: 50%;
    background-color: #fff;
    border: 1px solid gray;
    outline: none;
  }
  

  .chapterAuthor {
    text-align: left;
    flex-basis: 30%;
    margin-top: 5px;
  }
  .replyDate {
    text-align: left;
    flex-basis: 30%;
    padding-top: 5px;
  }
  
  .chapterMsg{
    flex-basis: 100%;
    margin-top: 25px;
    padding: 0;
  }

  .showIntro {
    padding: 10px 0;
  }
  .singleStory .notepad {
    display: block;
  }

  .deleteChapter {
    left: 90%
  }

  /* MAILS PAGE */

  .oneMail{
    margin-bottom: 20px;
  }

  .mailDate{
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .mailDate,.mailAuthor {
    font-size: 18px;
  }

  .mailReplyDate {
    font-size: 14px;
  }


  /* KARCZMY */

  .tavernsRooms {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
  .toggleActiveDesc {
    flex-basis: 100%;
    text-align: left;
    padding-left: 10px;
  }
  .tavernRoom {
    flex-basis: 30%;
    padding: 0;
  }
  .activeRoom{
    padding: 0 ;
  }
  .tavernRecords {
    padding: 0 ;
  }


  /* KARTA POSTACI */

  .profile {
    margin-top: 20px;
    font-size: 20px;
  }

  .characterListElement {
    padding: 10px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  .characterListElement:hover {
    transform: translateX(20px);
  }

 
  .noCharacter {
    padding-bottom: 10px;
  }
  
  .infoCreator {
    flex-basis: 60%;
    border-left: 1px solid black;
    padding: 0 20px 0 20px;
  }


  /* CHARACTERPAGE */

  .metricsWrap {
    display: flex;
    flex-wrap: wrap;
    /* text-align: left; */
  }
  .avatar {
    position: relative;
    flex-basis: 50%;
    min-height: 50vh;
    border-bottom: 2px brown solid;
  }
  .avatarFile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 45vh;
  }

 
  .metricsData {
    flex-basis: 50%;
    margin-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-left: 2px brown solid;
    border-bottom: 2px brown solid;
  }
  .metrics{
    margin: 5px 0;
    font-size: 18px;
  }
  h2.metrics {
    font-size: 20px;
    text-align: center;
  }
  h2.metrics:nth-of-type(2) {
    margin-bottom: 20px;
  }

  .creatorLabel {
    display: inline-block;
    width: 25%;
  }
  .creatorInput {
    display: inline-block;
    width: 75%;
  }

  /* SETTINGS PAGE */

  .desktopSetting {
    display: block;
  }

  .settingsLabel {
    display: inline-block;
    padding: 20px 10px 0 0;
    font-size: 20px;
  }

  .logOutUtility {
    font-size: 18px;
    padding: 20px 10px 0 0;
  }

  .mobileSettings {
    display: none;
  }
  .rankSubmit {
    width: auto;
    margin-left: 20px;
  }
  
  section.logOutPage{
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 5;
  }

  body.mce-content-body {
    margin: 0;
  }
}

