@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300&display=swap');

/* font-family: 'Courgette', cursive;  
font-family: 'Open Sans', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  min-width: 100%;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;

  font-family: 'Courgette', cursive;
}

p.loadPage {
  text-align: center;
  padding-top: 50px;
}

.logPanel {
  position: absolute;
  bottom: 20vh;

  display: flex;
  width: 100%;
}

.logPanel * {
  flex-basis: 50%;
}

.login {
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid black;
}
.reg {
  text-align: left;
  padding-left: 20px;
}



.navMob {
  position: absolute;
  right: 5vh;

  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  text-decoration: none;
  color: black;
  background-color: #fff;
}
.navMob.active {
  color: white;
  background-color: grey;
}

.navMob:nth-of-type(1) {
  bottom: 12vh;
}
.navMob:nth-of-type(2) {
  bottom: 19vh;
}
.navMob:nth-of-type(3) {
  bottom: 26vh;
}
.navMob:nth-of-type(4) {
  bottom: 33vh;
}
.navMob:nth-of-type(5) {
  bottom: 40vh;
}

.navMob.left {
  left: 5vh;
}


nav.desktop {
  display: none;
}



@media (min-width: 1280px) {
  nav.mobile {
    display: none;
  }
  nav.desktop {
    display: block;
  }
}