@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300&display=swap');

/* font-family: 'Courgette', cursive;  
font-family: 'Open Sans', sans-serif;*/

/* Główne elementy strony */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  min-width: 100%;
  min-height: 100vh;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;

  font-family: 'Courgette', cursive;
}

.gamePanel {
  padding: 10px 55px 0 10px;
}
.gamePanel.left {
  padding: 10px 10px 0 55px;
}

/* LOGINPANEL */

p.loadPage {
  text-align: center;
  padding-top: 50px;
}
p.formInfo {
  text-align: center;
  font-size: 15px;
}

.logPanel {
  position: absolute;
  bottom: 10vh;

  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 60vh;
}

.logPanel .login, .logPanel .reg {
  flex-basis: 50%;
  /* overflow: hidden; */
}

.login {
  text-align: right;
  padding-right: 20px;
  border-right: 1px solid black;
  height: 5vh;
}
.reg {
  text-align: left;
  padding-left: 20px;
  height: 5vh;
}

.logSent, .regSent {
  font-family: 'Courgette', cursive;
  font-size: 16px;
}

.loginForm {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}
.registerForm {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
}

.loginForm.hidden, .registerForm.hidden {
 display: none;
}

.regInput, .logInput {
  width: 100%;
  font-size: 14px;
  padding: 5px 0 5px 5px;
}
.regInput:focus, .logInput:focus {
  outline-color: black;
}

.registerSubmit, .loginSubmit {
  border: none;
  background-color: #fff;
  flex-basis: 100%;
  font-size: 16px;
  font-family: 'Courgette', cursive;
  padding: 30px 0 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
.registerSubmit:focus, .loginSubmit:focus {
 outline: none;
}
.loginSubmit {
  padding-top: 60px;
}

/* NAWIGACJE */

.navMob,.navburger, .return {
  position: fixed;
  right: 1vh;

  border: 2px solid black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 37px;
  text-decoration: none;
  color: black;
  background-color: #fff;
  font-size: 20px;
  transition: 0.3s;
}

.navMob.active {
  color: white;
  background-color: #111;
}
.navMob:focus {
  outline: none;
}.navMob:focus-visible {
  outline: none;
}.navMob:focus-within {
  outline: none;
}.navMob:focus {
  outline: none;
}

.navMob:nth-of-type(1) {
  bottom: 10vh;
}
.navMob:nth-of-type(2) {
  bottom: 17vh;
}
.navMob:nth-of-type(3) {
  bottom: 24vh;
}
.navMob:nth-of-type(4) {
  bottom: 31vh;
}
.navMob:nth-of-type(5) {
  bottom: 38vh;
}
.navMob:nth-of-type(6) {
  bottom: 45vh;
}

.navMob.newMessage {
  border-color: red;
}

.mobile.left .navMob {
  left: 1vh;
}

nav.desktop {
  display: none;
}

.navMob:focus, .navDesk:focus {
  outline: none;
}
.navMob.active:focus {
  outline: none;
}

.mainPage {
  text-align: justify;
}

.test {
  padding: 10px 0 0;
  font-size: 18px;
}


 /* NOTEPAD */

 section.notepad {
   padding-top: 10px;
   margin-top: 30px;
   border-top: grey 2px double;
 }

/* KP */

.changeNameInput {
  padding: 5px 10px;
  
}
.changeNameInput:focus {
  outline: black 1px solid;
}

.changeNameSpan {
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.submitCharName{
  border: none;
  background-color: #fff;
  flex-basis: 100%;
  font-size: 16px;
  font-family: 'Courgette', cursive;
  padding: 30px 0 5px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.submitCharName:focus {
  outline: none;
}



/* SESJE */

/* STORYLINK */

.storyLink {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}
.linkAuthor {
  flex-basis: 50%;
}
.linkTitle {
  color: black;
}
.linkTitle.new {
  color: red;
}
.linkDate {
  display: none;
}
a.linkTitle {
  text-decoration: underline;
}

/* SINGLESTORY */

.storyInfo {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 15px 15px;
}
.storyTitle {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 22px;
}
.storyAuthor {
  flex-basis: 40%;
  font-size: 18px;
  padding-top: 5px;
}
.storyDate {
  flex-basis: 60%;
  padding-top: 5px;
}
.openingMsg {
  flex-basis: 100%;
  padding: 10px 0;
}

.showIntro {
  font-size: 14px;
  text-decoration: underline;
  padding: 20px 0 0;
  flex-basis: 100%;
}


.answer {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid black;
  margin: 10px 0;
}

.answerForm {
  display: flex;
  flex-basis: 100%;
}
.answerForm.hidden {
  display: none;
}

.answerField {
  flex-basis: 80%;
  height: 30vh;
  padding: 5px;
}
.answerSubmit {
  flex-basis: 20%;
}

.answerField:focus{
  outline: black 2px solid;
}

.singleStory .notepad {
  display: none;
}

/* CHAPTER */

.chapter {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  flex-wrap: wrap;
}
.chapterAuthor {
  text-align: right;
  flex-basis: 100%;
  margin-top: 5px;
}



/* LOADING INDICATOR */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 

<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

*/


/* QUERIES */

@media (min-width: 1280px) {
  /* LOGINPANEL */
  p.formInfo {
    text-align: left;
    font-size: 15px;
    padding-bottom: 5px;
  }

  .login, .reg {
    height: 3vh;
  }

  .loginForm {
    width: 30vw;
    top: 20%;
    left: 45vw;
    transform: translateX(-100%);
  }
  .registerForm {
    width: 30vw;
    top: 20%;
    left: 55vw;
  }



  /* NAWIGACJA */
  nav.mobile {
    display: none;
  }

  .navSettings {
    display: none;
  }

  nav.desktop {
    display: flex;
    position: fixed;
    margin-left: 20%;
    width: 80%;
  }
  .navDesk {
    flex-basis: 10%;
    margin: 20px 50px;
    text-align: center;
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid white;
    transition: 0.2s;
  }
  .navDesk.active {
    transform: translateY(10px);
    border-bottom: 2px solid black;
  }
  .navDesk.newMessage {
    border-color: red;
  }
  section.mainPage {
    padding-top: 100px;
    padding-left: calc(20vw + 50px);
  }

  /* NOTEPAD */

  section.notepad, section.notepadDesktop {
    position: absolute;
    top: 20vh;
    left: 0;
    width: 20vw;
    padding-left: 15px;
  }
  .note {
    font-size: 20px;
  }

  /* SESJE */

  .storyLink {
    font-size: 20px;
  }
  .linkAuthor {
  flex-basis: 30%;
  }
  .linkTitle {
    flex-basis: 30%;
  }
  .linkDate {
    display: block;
    flex-basis: 30%;
  }
  .answerField {
    flex-basis: 90%;
    height: 25vh;
    padding: 10px;
    font-size: 18px;
  }
  .answerSubmit {
    flex-basis: 10%;
  }

  .showIntro {
    padding: 10px 0;
  }
  .singleStory .notepad {
    display: block;
  }
}

