


@media (min-width: 1280px) {
    .main {
        min-height: 100vh;
        text-align: justify;
        padding: 100px calc(10vw + 20px) 20vh calc(20vw + 20px);
        display: flex;
        flex-direction: column;      
    }

    .mailTypeLinks {
        list-style-type: none;
        display: flex;
    }
    .mailTypeLinks li {
         flex-basis: 50%;
         text-align: center;
    }
    .typeLink {
        display: inline-block;
        padding: 10px 20px;
        color: black;
        font-size: calc(9px + 1vmin);
    }
    .newMailTypeLink {
        composes: typeLink;
        color: red;
    }

    /* MAILSCOLLECTION */

    .mailsCollection {
     text-align: center;   
    }

    .mails {
        text-align: left;
        margin-top: 50px;
    }
   
    .addStory {
        text-align: center;
        cursor: pointer;
        margin-bottom: 50px;
    }

    .oneMailLinkWrap {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
    }
    .mailDate {
        flex-basis: 50%;
    }
    .mailAuthor {
        flex-basis: 50%;
    }

    /* SINGLEMAIL */
    
    .InfoSlide {
        text-align: center;
        background-color: #ccc;
        height: 20vh;
        border-radius: 10px;
    }
    .mailInfo {
        margin: 0;
        margin-top: 20px;
        font-size: calc(9px + 1vmin);
    }

    .managePlayers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .addPlayerInput, .addPlayerBtn {
        flex-basis: 30%;
        text-align: center;
        margin: 15px 0;
    }
    .playersIn {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .playersLabel{
        flex-basis: 100%;
    }
    .storyPlayers{
        display: flex;
        margin: 0 auto;
    }

}