.main {
    text-align: left;
}


  @media (min-width: 1280px) {
    .main {
        min-height: 100vh;
        text-align: justify;
        padding: 100px calc(10vw + 20px) 20vh calc(20vw + 20px);
        display: flex;
        flex-direction: column;      
    }
    .links {
        width: 100%;
        margin: 0 auto;
        list-style: none;
        display: flex;
    }
    .navLink {
        flex-basis: 25%;
        padding: 15px 10px;
        font-size: calc(10px + 1vmin);
        text-align: center;
        color: black;
        border: 2px solid grey;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.3s;
    }
    .navLinkActive {
        composes: navLink;
        border-bottom-color: white;
        transition: 0.3s;
    }
    .links a:hover {
        border-bottom-color: white;        transition: 0.3s;
    }

    .addStory {
        text-align: center;
        cursor: pointer;
    }

    /* DISTRICT */

    .district {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        text-align: center;
    }
    .storyLinkWrap {
        margin: 5px auto;
        width: 80%;
        display: flex;
    }
    .storyLinkWrap p {
        margin: 0;
    }
    .author, .title, .date {
        align-self: center;
        margin: 0;
        padding: 10px 0;
        flex-basis: 30%;
        text-align: center;
        font-size: calc(9px + 1vmin);
        color: black;
    }
    .titleNew {
        composes: title;
        color: red;
    }


    /* SINGLESTORY */

    
    .InfoSlide {
        text-align: center;
        background-color: #ddd;
        min-height: 30vh;
        border-radius: 10px;
    }
    .storyPlayers{
        display: flex;
        margin: 0 auto;
        list-style: none;
    }

    /* chapter */

    .chapter {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 20px 15px;
        margin-bottom: 20px;
        border-bottom: 2px solid black;
      }
      .chapter p {
          margin: 0;
      }
      .chapterAuthor {
        text-align: left;
        flex-basis: 30%;
        padding-top: 5px;        
        font-weight: bold;
      }
      .replyDate {
        text-align: left;
        flex-basis: 30%;
        padding-top: 5px;
      }
      .chapterMsg{
        flex-basis: 100%;
        margin-top: 20px;
        padding: 0;
      }

      p.hiddenContent {
          width: 100%;
          display: block;
          padding: 10px 5px;
          margin: 20px 0;
          /* border-top: 1px solid grey;
          border-bottom: 1px solid grey; */
          background-color: rgba(200, 200, 200, 0.6)
      }
      .editedInfo {
          font-size: 14px;
          padding-top: 40px;
      }
      .showHistory{
        font-size: 14px;
        text-align: center;
        width: 100%;
        padding: 5px 0 20px;
      }
      .history {
        width: 100%;
      }
      .prevVersion{
          /* display:flex; */
        padding-bottom: 10px;
      }
      
      .deleteChapter {
        position: absolute;
        top: 5px;
        right: 5px;        
        width: 25px;
        height: 25px;
        border-radius: 50%;
        text-align: center;
        line-height: 16px;
        border: 2px solid grey;
        cursor: pointer;
        transition: 0.3s;
      }
      .editChapter {
          composes: deleteChapter;
          top: calc(100% - 30px);
      }
      .deleteChapter:hover, .editChapter:hover {
          color: white;
          background-color: #000;
          border-color: #000;
      }
      .closeStoryBtn {
          margin: 10px auto;
      }
      .confirmClosing {
          transform: translateX(20px);
      }
      .deleteChapterConfirmation {
          width: 100%;
      }
      .deleteChapterBtn {
          display: block;
        margin: 0 auto;
      }
  }
